<footer class="container-fluid footer">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p style="position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: whitesmoke;
  color: black;
  text-align: center;
">Marin Donchev 2020</p>
            </div>
        </div>
    </div>
</footer>