<!DOCTYPE html>
<html lang="en-IE">
<%- include('../views/partials/head'); %>
<header>
  <%- include('../views/partials/header'); %>
</header>
<body class="text-center">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <main role="main" class="inner cover">
    <section class="row">
      <h1>Home</h1>
    </section>
    <hr>
    <section class="content">
      <h1>Hello and Welcome!</h1>
      <p>This little application should help you plan your meals for the day,
      so as not to eat too many or too little calories, keeping you at a healthy
      and consistent weight.</p>
    </section>
  </main>
  <%- include('../views/partials/footer'); %>

</div>
</body>
</html>
