<h1>Create a Meal Plan</h1>

<form action="/mealPlanCreate" method="POST">
    <div>
        <label for="mealPlanType">When for? </label>
        <select name="mealPlanType" id="mealPlanType">
            <option value="breakfast">Breakfast</option>
            <option value="lunch">Lunch</option>
            <option value="dinner">Dinner</option>
        </select>
    </div>

    <button type="submit">Create Meal Plan</button>
</form>